*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
 
 /* Navigation  */
.nav-main-container {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 1rem;
}

.nav-main-container a{
    text-decoration: none;
    color: black;
}
.nav-main-container a:visited{
    text-decoration: none;
    color: black;
}

.nav-main-container a:hover{
    text-decoration: underline;  
}

.nav-left-container,
.nav-right-container{
    width: 100%;
    list-style: none;
    display: flex;
}
.nav-left-container{
    justify-content: flex-start;
}

.nav-right-container{
    justify-content: flex-end;
}

.nav-right-container li {
    margin-right: 0.5rem;
}

.nav-main-container ul .active-page{
  text-decoration: underline;
}



/* Media */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }